html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.text-right {
    text-align: right;
}

#header {
    padding-top: 10px;
    width: 100%;
    position: fixed
}

.container, .row {
    background-color: transparent !important;
}

.column {
    /*background-color: ghostwhite;*/
}

.column > input, .column > select {
    background-color: white;
}

.heading-tight {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid gray
}

#description {
    max-width: 300px;
    display: inline-block;
    text-align: left;
    overflow-y: auto;
    /*height: 80%;*/
    /*max-height: 200px;*/
    pointer-events: all;
}

.overlay {
    border: 5px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 14px;
}

#usersList, h1,h2,h3,h4,h5,h6 {
    pointer-events: none;
}

#messages {
    font-size: 1.5rem !important;
    position: fixed;
    left: 0;
    bottom: -30px;
    padding: 8px;
    background-color: rgba(225, 225, 225, 0.7);
    width: 100%;
}

.messages {
    list-style-type: none !important;
}

li {
    margin-bottom: 0;
}